*{

}
.user-wire-wrapper h6{
width: 200px;
}
.gap-70{
  gap: 70px;
}
.gap-100{
  gap:100px
}
.gap-80{
  gap:80px;
}
.page-wrapper{
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  height: 100%;
}
.header-login{
  background-color: #515358;
  height: 33px;
}
.login-container{
  width: 600px;
  height:400px;
  margin-top: 150px;
  border: 1px solid black;
}
.logo{
  background-color: white;
}
.login-container{
  background-color: white;
}
.header-language{
  transition: all 0.3s;
  cursor: pointer;
  color: #f7f7f7;
}
.header-language:hover {
  color: #f34553;
}
.gap-1{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.login-container h1{
  margin: 0;
  font-size: 2.4em;
  font-weight: 300;
  line-height: 1.2em;
  padding: 0 0 23px;
  color: rgb(42, 39, 39);

}
 .login-btn{
  background-color: #f34553;
    border: 1px solid #ed7f88;
    color: #ffffff;
    height: 2.9em;
    padding: 10px 14px;
    font-size: 1em;
    min-width: 190px;
    cursor: pointer;
    transition: all 1s;
}

 .login-btn:hover{
  background-color: #ff0e22;
    border: 1px solid #ed7f88;
   
}
.footer-login{
  background-color: #515358;
}

.columns{
  border-right: 1px solid white;
}

.user-account-wrapper{
  border-bottom: 1px gray solid;
}
/*here begin userDashboard component */


.header-menu div:not(:last-child){
  border-right: 1px solid lightgray;
  padding-right: 14px;
}
.user-panel-element{
color: rgb(114, 114, 114);
padding: 15px;
background-color: rgb(236, 240, 241);
border-bottom: 1px solid darkgray;
transition:all 0.4s ease-in-out;
cursor: pointer;
}

.table-responsive{
  max-height: 800px;
}

.info-p p{

    margin: 0;
    color: rgb(42, 39, 39);
    line-height: 0.9em;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 15.3px;
}
.info-p{
  border: 1px solid rgb(55, 52, 52);
  background-color: rgba(253, 253, 253, 0.84);
  padding: 20px;
  color: rgb(42, 39, 39);
  font-family: "Roboto", Lucida Grande, Arial, Helvetica, sans-serif;
}
.info-p ol li {
  color: rgb(42, 39, 39);
  line-height: 1.15em;
  font-weight: 400;
  letter-spacing: 0.7px;
  font-size: 15.3px;
}
.info-p ol {
  padding: 0 20px;
}
.user-panel-element:hover{
 color: red;
 text-decoration: underline;
  }


